<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name=".Mai3"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAI30"
        tools:targetApi="30"
        android:appCategory="productivity">

        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/Theme.MAI30"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.StartActivity"
            android:theme="@style/Theme.MAI30"
            android:exported="true">
        </activity>


        <activity
            android:name=".activities.GroupSelectActivity"
            android:exported="true"
            android:theme="@style/Theme.MAI30">
        </activity>


        <activity
            android:name=".activities.TeacherScheduleActivity"
            android:exported="true"
            android:theme="@style/Theme.MAI30">
        </activity>

        <activity
            android:name=".activities.UpgradeActivity"
            android:exported="true"
            android:theme="@style/Theme.MAI30">
        </activity>

        <activity
            android:name=".activities.InfoListViewActivity"
            android:exported="true"
            android:theme="@style/Theme.MAI30">
        </activity>

        <activity
            android:name=".activities.TeacherActivity"
            android:exported="true"
            android:theme="@style/Theme.MAI30">
        </activity>


        <activity
            android:name=".activities.MapViewActivity"
            android:exported="true"
            android:theme="@style/Theme.MAI30">
        </activity>

        <activity
            android:name=".activities.TeacherSelectActivity"
            android:exported="true"
            android:theme="@style/Theme.MAI30">
        </activity>

        <activity
            android:name=".activities.ExlerTeacherSelectActivity"
            android:exported="true"
            android:theme="@style/Theme.MAI30">
        </activity>

        <activity
            android:name=".lavamarkup.renderer.LavamarkupRendererActivity"
            android:exported="true"
            android:theme="@style/Theme.MAI30">
        </activity>

        <activity
            android:name=".activities.ImageViewActivity"
            android:exported="true"
            android:theme="@style/Theme.MAI30">
        </activity>

        <receiver
            android:name=".widget.ScheduleWidgetReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_widget_meta" />
        </receiver>

        <receiver android:name=".systems.alarm.AutoUpdateReceiver" />

    </application>
</manifest>
